.feature{
  text-align: center;
  .container {
    max-width: 970px;
  }
.slider{
  margin-top: 80px;
  &__item{
    position: relative;
    width: 368px;
    height: 368px;
    @include marginRight();
    padding: 50px 35px;
    text-align: left;
    background-color: #222;
    color: #eee;
  }
  &__type{
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__text{
    font-size: 24px;
    font-weight: 400;
    line-height: 33px;
  }
  &__block{
    position: absolute;
    bottom: 50px;
    display: flex;
    align-items: center;
  }
  &__name{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  &__image{
    margin-right: 20px;
  }

  &__time{
    display: block;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
}
  .flickity-prev-next-button:disabled{
    display: none;
  }
  .is-selected{
     &::after{
           position: absolute;
           display: block;
           content: "";
       width: 75px;
       height: 7px;
       top: 0;
       left: 50%;
       transform: translateX(-50%);
       background-color: #e64a19;
         }
  }
}
