@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansProSemibold.woff2') format('woff2'),
  url('../fonts/SourceSansProSemibold.woff') format('woff'),
  url('../fonts/SourceSansProSemibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansProBold.woff2') format('woff2'),
  url('../fonts/SourceSansProBold.woff') format('woff'),
  url('../fonts/SourceSansProBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'SourceSansPro';
  src: url('../fonts/SourceSansProRegular.woff2') format('woff2'),
  url('../fonts/SourceSansProRegular.woff') format('woff'),
  url('../fonts/SourceSansProRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}